<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Add your task here, {{name}}</h1>
    <a href="/lab-4/">Go back</a>
    <form action="" method="post">
        {% csrf_token %}
        {{tugas_form.as_ul}}
        <button type="submit">Save Task</button>
    </form>
</body>
</html>