{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Watchlist</title>
    <link rel="stylesheet" href="{% static 'css/lab6_index.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
  </head>
  <body>
    <div class="title-container">
      <h1>My Watchlist</h1>
    </div>
    <div class="table-container">
      <table class="table" id="table">
      </table>
    </div>

    <!-- On View Modal -->
    <div
      class="modal fade"
      id="viewModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="viewModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div id="onview-modal-container">
              <div class="row-div">
                  <p><b>Title:</b></p>
                  <p id="onview-title"></p> 
                </p>
              </div>
              <div class="row-div">
                <p><b>Release date:</b></p>
                <p id="onview-release-date"></p>
              </p>
              </div>
              <div class="row-div">
                <p><b>Review:</b></p>
                <p id="onview-review"></p>
              </div>
              <div class="row-div">
                <p><b>Rating:</b></p>
                <p id="onview-rating"></p>
              </div>
              <div class="row-div">
                <p><b>Watched?</b></p>
                <p id="onview-watched"></p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- On Edit Modal -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" id="edit-form">
              <div class="form-group">
                <label for="onedit-watched">Watched</label>
                <input class="form-control" name="watched" id="onedit-watched" placeholder="true/false">
              </div>
              <div class="form-group">
                <label for="onedit-title">Title</label>
                <input class="form-control" name="title" id="onedit-title" placeholder="Title">
              </div>
              <div class="form-group">
                <label for="onedit-rating">Rating</label>
                <input class="form-control" name="rating" id="onedit-rating" placeholder="9/10">
              </div>
              <div class="form-group">
                <label for="onedit-release-date">Release Date</label>
                <input class="form-control" name="release_date" id="onedit-release-date" placeholder="2000-01-31">
              </div>
              <div class="form-group">
                <label for="onedit-review">Review</label>
                <textarea class="form-control" name="review" id="onedit-review" placeholder="Git gud"></textarea>
              </div>
              <input type="hidden" name="id" id="movie-id">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Cancel
                </button>
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
      integrity="sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script>
      function actionColumn(id) {
        return `
            <div class="action-container">
              <button type="button" class="btn btn-outline-dark" onClick=onView(${id})>
                <i class="fa-regular fa-eye"></i>
              </button>
              <button type="button" class="btn btn-outline-warning" onClick=onEdit(${id})>
                <i class="fa-regular fa-pen-to-square"></i>
              </button>
              <button type="button" class="btn btn-outline-danger" onClick=onDelete(${id})>
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>`;
      }

      function onView(id) {
        $.getJSON(
          `http://127.0.0.1:8000/lab-6/watch-list/${id}`,
          function (data) {
            if (data.length == 0) return;

            row = data[0];
            const { title, review, release_date, rating, watched } = row.fields;

            $("#onview-title").text(title);
            $("#onview-release-date").text(release_date);
            $("#onview-review").text(review);
            $("#onview-rating").text(rating);
            $("#onview-watched").text(watched);

            $("#viewModal").modal("show");
          }
        );
      }

      function onEdit(id) {
        $.getJSON(
          `http://127.0.0.1:8000/lab-6/watch-list/${id}`,
          function (data) {
            if (data.length == 0) return;

            row = data[0];
            const { title, review, release_date, rating, watched } = row.fields;

            $("#onedit-title").val(title);
            $("#onedit-release-date").val(release_date);
            $("#onedit-review").val(review);
            $("#onedit-rating").val(rating);
            $("#onedit-watched").val(watched);
            $("#movie-id").val(id);

            $("#editModal").modal("show");
          }
        );
      }

      function onDelete(id) {
        $.ajax({
          type: "POST",
          url: `http://127.0.0.1:8000/lab-6/watch-list/${id}/delete`,
          data: { csrfmiddlewaretoken: "{{ csrf_token }}" },
          success: function() {
            fetchData();
            $("#editModal").modal("hide");
          },
          error: function(xhr, status, errorMessage) {alert("failed", errorMessage)}
        });
      }

      function fetchData() {
        let tableHeader = 
        `<tr>
            <th>ID</th>
            <th>Title</th>
            <th>Watched</th>
            <th>Rating</th>
            <th>Release Date</th>
            <th>Review</th>
            <th>Action</th>
          </tr>
        `
        $.getJSON("http://127.0.0.1:8000/lab-3/json/", function (data) {
          $("table").empty()
          $("table").append(tableHeader)
          $.each(data, function (i, row) {
            const { title, review, release_date, rating, watched } = row.fields;
            const pk = row.pk;
            $("table").append(`
            <tr>
              <td>${pk}</td>
              <td>${title}</td>
              <td>${watched}</td>
              <td>${rating}</td>
              <td>${release_date}</td>
              <td>${review}</td>
              <td>${actionColumn(pk)}</td>
            </tr>
            `);
          });
        });
      }
      fetchData();

      $("#edit-form").submit(function(e) {
        e.preventDefault();
        let dataString = $(this).serializeArray();
        let id;
        for (let i = 0; i < dataString.length; i++) {
          if (dataString[i].name === "id") {
            // console.log(dataString[i])
            id = dataString[i].value;
          }
        }

        $.ajax({
          type: "POST",
          url: `http://127.0.0.1:8000/lab-6/watch-list/${id}/update`,
          data: dataString,
          success: function() {
            fetchData();
            $("#editModal").modal("hide");
          },
          error: function(xhr, status, errorMessage) {alert("failed", errorMessage)}
        });
      })
    </script>
  </body>
</html>
