* {
    margin: 0;
    padding: 0;
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.table-container {
    margin: 0 50px;
    margin-top: 20px;
}

.action-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.row-div {
    display: inline-block;
}