<!DOCTYPE html>
<html lang="en">
    <style>
        table, th, td {
            border:1px solid black;
            text-align:center;
            padding: 8px;
        }

        img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

        .button {
            background-color:#0a0a23;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius:10px;
        }

        .button:hover {
            background-color:#002ead;
            transition: 0.7s;
        }

        .button:active {
            background-color: #ffbf00;
        }

    </style>
  <head>
    <meta charset="UTF-8" />
    <title>My Watchlist</title>
  </head>
  <body>
    <nav><a href="/lab-5/watch-list/">
    <button type="button" class="button">Lihat dalam bentuk card</button>
    </a></nav> 
    <table>
      <tr>
        <th> Title </th>
        <th> Watched </th>
        <th> Rating </th>
        <th> Release Date </th>
        <th> Review </th>
        <th> Image </th>
      </tr>
      {% for item in WatchLists %}
      <tr>
        <td>{{item.title}}</td>
        <td>{{item.watched}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.release_date}}</td>
        <td>{{item.review}}</td>
        <td><img src="{{item.image_content.url}}" alt=""></td>
      </tr>
      {% endfor %}
    </table>
    <nav><a href="/lab-5/add_watchlist/">
    <button type="button" class="button">Jika ingin memasukkan Film</button>
    </a></nav> 
  </body>
</html>