<!DOCTYPE html>
<html lang="en">
    <style>
        .button {
          background-color:#0a0a23;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius:10px;
        }

        .button:hover {
            background-color:#002ead;
            transition: 0.7s;
        }

        .button:active {
            background-color: #ffbf00;
        }

    </style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UI-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>add-watchlist</title>
</head>
<body>
    <h1> Masukkan data mengenai film</h1>
    <nav><a href="/lab-5/">
    <button type="button" class="button">Lihat dalam bentuk tabel</button>
    </a></nav> 
    <form method="POST" action="" enctype='multipart/form-data'>
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit">Save Task</input>
    </form>
    <nav><a href="/lab-5/watch-list/">
    <button type="button" class="button">Lihat dalam bentuk card</button>
    </a></nav>     
</body>
</html>