<!DOCTYPE html>
<html lang="en">
    <style>
        img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

        .card{
            border: 1px solid black;
            margin: 20px;
            padding: 10px;
            width: 300px;
        }

        .button {
          background-color:#0a0a23;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius:10px;
        }

        .button:hover {
            background-color:#002ead;
            transition: 0.7s;
        }

        .button:active {
            background-color: #ffbf00;
        }

    </style>
  <head>
    <meta charset="UTF-8" />
    <title>My Watchlist</title>
  </head>
  <body>
    <nav><a href="/lab-5/">
    <button type="button" class="button">Lihat dalam bentuk tabel</button>
    </a></nav> 
      {% for item in WatchLists %}
      <div class="card">
        <h2>{{item.title}}</h2>
        <p>Is watched : {{item.watched}}</p>
        <p>{{item.rating}}</p>
        <p>{{item.release_date}}</p>
        <p>{{item.review}}</p>
        <img src="{{item.image_content.url}}" alt="">
      </div>
      {% endfor %}
      <nav><a href="/lab-5/add_watchlist/">
      <button type="button" class="button">Jika ingin memasukkan Film</button>
      </a></nav> 
  </body>
</html>