<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Watchlist</title>
  </head>
  <body>
    <h1>My Watchlist</h1>
    <table>
      <tr>
        <th> Title </th>
        <th> Watched </th>
        <th> Rating </th>
        <th> Release Date </th>
        <th> Review </th>
      </tr>
      <!-- TODO loop from TrackerTugas model -->
      <!-- EXAMPLE SECTION -->
      {% for item in WatchLists %}
      <tr>
        <td>{{item.title}}</td>
        <td>{{item.watched}}</td>
        <td>{{item.rating}}</td>
        <td>{{item.release_date}}</td>
        <td>{{item.review}}</td>
      </tr>
      {% endfor %}
      <!-- Kolaborator : Nabil Muhammad Azzam-->
      <!-- END SECTION -->
    </table>
  </body>
</html>